---
layout: layouts/base.njk
---
<div class="jumbotron jumbotainer">
    <h1 style="color:red;">Welcome To My World!</h1>
</div>

<div style="background: black;">
  <div class="container">
    <h2>I am Mistress Rapunzel</h2>
    Sensual and demanding, caring and yet cruel… I love all things to do with Power and Control. If I grant you permission to submit to Me, you’ll find yourself on a journey you’ve only dreamed to experience, with a Domme that enjoys the ultimate in teasing, torturing, and playfulness.
  </div>
</div>


