---
layout: layouts/base.njk
---
<div class="jumbotron jumbotainer">
  <div style="height:100%;" class="container">
    <div style="height:100%;" class="row align-items-center">
      <div class="col-7"></div>
      <div class="col-4">
        <h1 class="jumbotext">Welcome To My World!</h1>
      </div>
    </div>
  </div>
</div>

<div style="background: black;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-5">
        <img style="height: 40em;" src="/img/angel4-cropped.jpg">
      </div>
      <div class="col-7">
        <h2>I am Mistress Rapunzel</h2>
        <p>Sensual and demanding, caring and yet cruel… I love all things to do with Power and Control. If I grant you permission to submit to Me, you’ll find yourself on a journey you’ve only dreamed to experience, with a Domme that enjoys the ultimate in teasing, torturing, and playfulness.</p>
        <a class="btn btn-primary btn-lg"
           role="button"
           href="mailto:rapunzelsanomaly@gmail.com">
          Book a Session
        </a>
        <a class="btn btn-secondary btn-lg"
           role="button"
           href="/about">
          About Mistress Repunzel
        </a>
      </div>
    </div>
  </div>
</div>


