---
layout: layouts/base.njk
---
<div class="jumbotron">
  <div class="container">
    <h1>{{ title }}</h1>
  </div>
</div>
<div style="background:black;">
  <div class="container">
    {{ content | safe }}
  </div>
</div>
